/*to override default browswer styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
}

h1{
    font-family: "Bebas Neue", sans-serif;
    color: #01c38d;
    letter-spacing: 4px;
    }

h2{
    font-family: "Sora", sans-serif;
    color: white;
    }

/*header*/
header {
    background-color:#ffffff;
    box-shadow: 5px 10px #c8ff00;
    padding: 10px 0px;
}

.logo{
    max-height:50px;
}

/*body*/
main{
    background-color: #0c2a32;
}

/*Introduction*/
.intro{
    padding-bottom:15px;
}

.intro h1{
    font-size: 50px;
    padding-bottom: 7px;
    padding-top: 40px;
}

.intro h2{
    font-size: 18px;
    padding-bottom: 7px;
}

.intro p{
    text-decoration: underline;
    font-size: 16px;
    background-color: #01c38d;
    margin: 10px 110px;
    padding: 6px 0;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

/*Game*/
.game-area{
    padding:10px 20px;
    margin: 0px 40px;
}

.game-area p{
    padding-bottom: 10px;
}

#instruction{
    color:#01c38d;
    font-family: "Sora", sans-serif;
    font-weight: bold;
}

.challenge-area{
    padding-top: 10px;
}

#challenge-word {
    font-family: "Sora", sans-serif;
    color: rgb(255, 196, 0);
    padding-top: 10px;
    font-size: 25px;
    font-weight: 900;
}

.challenge-area input {
    margin-bottom: 30px;
    padding: 0px 10px;
}

#type-here{
    font-size: 15px;
    padding-top: 15px;
}

.submit{
    display: none;
}

.time-area{
    padding: 0px;
}

/*Rules*/
#rules{
    padding: 0px 35px;
    background-color: #091a1f;
    color: white;
}

#rules h2{
    color:#01c38d;
    font-weight: 2000;
    padding-top: 50px;
    padding-bottom: 45px;
}

#rules i{
    color:#01c38d;
    font-weight: 10px;
    font-size: 30px;
    padding-bottom:5px;
}

#rules p{
    padding-bottom: 30px;
}

/*Input outcome messages*/
#errors {
    background-color: lightpink;
    padding: 10px;
    border: 1px solid black;
    width: fit-content;
    border-radius: 3px;
    display: none;
    margin-bottom: 20px;
}

#success {
    background-color: #01c38d;
    padding: 10px;
    border: 1px solid black;
    width: fit-content;
    border-radius: 5px;
    display: none;
    margin-bottom: 20px;
}

/*Stopwatch*/
 .timer {
    display: none;
 }

.time-area{
    font-size: 15px;
}

 #stopwatch {
    color:rgb(255, 196, 0);
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 30px;
 }

 #play-again{
    padding-bottom: 20px;
 }

/*footer*/
footer{
    background-color:#091a1f;
    padding:30px 10px;
}

.footer-logo{
    height: 40px;
}